@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
    height: 100vh;   
    background-image: linear-gradient(to bottom, #e0dac9, #b2a388);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    font-family: "Rubik Dirt", system-ui !important;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}

.col {
    background-image: url("../pics/button.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2%;
}

.btn {
    color: white !important;
    font-size: 2.2rem;
}

.row {
    margin-top: 2%;
}

/*4K*/
@media (min-height: 2160px) {
    .content {
        font-size: 3rem;
    }

    .btn {
        font-size: 4rem;
    }
}

/*2k*/
@media (min-height: 1440px) and (max-height: 2159px) {
    .content {
        font-size: 2.5rem;
    }

    .btn {
        font-size: 3rem;
    }
}

@media (max-width: 1530px) {
    .btn {
        font-size: 1.3rem; 
    }
}

@media (max-width: 767px) {
    .content {
        font-size: 1.3rem;
    }

    .btn {
        font-size:1rem;
    }
}
